<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>Add a New Book</h1>

    <form method="POST" action="{{ url_for('add_book') }}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="cover_url">Cover Image URL:</label><br>
        <input type="url" id="cover_url" name="cover_url" required><br><br>

        <label for="category">Category:</label><br>
        <select id="category" name="category">
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-fiction</option>
            <option value="Science">Science</option>
            <option value="History">History</option>
        </select><br><br>
        <label for="tags">Tags (comma-separated):</label><br>
        <input type="text" id="tags" name="tags" value="{{ book.tags if book else '' }}"><br><br>
        <label for="status">Reading Status:</label><br>
        <select id="status" name="status">
            <option value="to read">To Read</option>
            <option value="reading">Reading Right Now</option>
            <option value="read">Already Read</option>
        </select><br><br>

        <label for="pages">Total Pages:</label><br>
        <input type="number" id="pages" name="pages" required><br><br>

        <label for="pages_read">Pages Read:</label><br>
        <input type="number" id="pages_read" name="pages_read" value="0" required><br><br>






        <button type="submit">Add Book</button>
    </form>

    <a href="{{ url_for('home') }}">Back to Home</a>
</body>

</html>